<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test on chrome">
  <test name="Test FileChucker pages">
  <classes>
	  <class name="src/main/java/test/FileChuckerPageTest">
		<methods>
	  		<include name="scenariosTest" />
	  	</methods>
	  </class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
